$textcolor : #333;
// $primary_color : #618296;
$primary_color : #618296;
// $secondary_color: #EBC493;
// $secondary_color: rgba(97,130,150,1);
$secondary_color: #333;
// $hover: #9D6D31;
$hover_color: #618296;