@font-face {
    font-family: "Verlag A", "Verlag B";
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Verlag A", "Verlag B";
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Verlag A", "Verlag B";
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Verlag A", "Verlag B";
    font-style: italic;
    font-weight: 400;
}


@mixin dotted($color) {
    & {
        background: linear-gradient(90deg, 
                    $color 26%, transparent 0) /* 60%: ratio between dash-gap */
                    repeat-x;
        background-size: .15em 2px; /* .25em: Width of dash+gap, 2px: thickness of underline */
        background-position: 0 89%; /* vertical position of underline */
        // text-shadow: .05em 0 white, -.05em 0 white; /* create gap between descenders and underline */
        
        /* For hover */
        // animation: scroll .5s infinite linear;
        // animation-play-state: paused;
    }

    // @keyframes scroll {
    //     to { background-position: .25em 90%; }
    // }

    // &:hover {
    //     cursor: pointer;
    //     color: $primarycolor;
    //     animation-play-state: running;
    // }

}

.dotted {
  // @include dotted(black)
}
p a {
  color : #EBC493;
  // @include dotted(black)
  &:hover {
    text-decoration: none;
  }
}

html {
  // background-color : rgb(165,63,15);
  font-size: 20px;
  word-spacing: 1px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  // padding : 1em;
  position: relative;
  min-height: 100%;
}
input, select {
  outline-color: $secondary;
}
ul {
  padding-left: 0;
}
ul.resultlist {
  a {
    color : white;
    &:hover {
      color : $hover;
    }
  }
}
body {
  color : white;
  font-family : "Verlag A", "Verlag B", georgia, serif;
  padding : 1em;
  line-height : 1.4;
  // background-color : rgb(226,145,0); 
  // background-color : #618296; 
  background: linear-gradient(to bottom, rgba(97,130,150,1) 0%,rgba(29,101,140,1) 100%);
  // background: linear-gradient(to bottom, rgb(165, 63, 15) 0%, darken(rgba(165, 63, 15,1), 10%) 100%);
  //
}
h1 {
  font-weight: 800;
  margin-bottom: 1.3em;
}
h2 {
  margin-top: 0.6em;
  font-size: 1.6rem;
  font-weight : normal;
}
h3 {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  font-weight : normal;
}

h1,h2,h3,h4,h5,h6 {
  color : white;
}

figcaption {
  font-size: 0.8rem;
}

.navbar {
  padding-left : 0;
  a {
    color: white;
  }
}

.sc {
  text-transform: uppercase;
  font-size: 0.8em;
}

a:focus, a:hover {
  color: inherit;
  text-decoration: none;
}

.explain {
  font-size: 0.8em;
  margin-bottom: 2em;
}

.page-enter-active, .page-leave-active {
  transition: all .15s ease-in-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
  // transform-origin: 50% 50%;
}


.range-slider-knob-from, .range-slider-knob-to {
  width: 26px !important;
  height: 26px !important;
  border-color: #a0a0a0 !important;
}

.range-slider-rail {
    width: 100% !important;
    background-color: #bfbebe !important;
    border: 1px solid lightgrey !important;
}

.range-slider-rail, .range-slider-fill {
    display: block !important;
    position: absolute !important;
    top: 50% !important;
    left: 0;
    height: 10px !important;
    border-radius: 10px !important;
    transform: translateY(-50%) !important;
}

.range-slider-fill {
    background-color: $secondary !important;
}

.outer {
  min-height : 100%;
  margin-bottom: 70px;
}

.outer-container {
  display : flex;
  flex-direction : column;
  align-items: center;
  justify-content: center;

  & > * {
    width : 700px;
  }
}
.container {
  padding-left: 0;
  padding-right: 0;
}
.mainview {
}
a {
  transition: 200ms color;
  color : $secondary;
  &:hover {
    color : $hover;
  }
  &:active {
    color : white;
  }
}
p {
  max-width : 30em;
  margin-bottom: 0;
}
p + p {
  text-indent: 1.8em;
}
li {
  list-style : none;
}
.navbar {
  padding : 0;

}
.navbar-toggleable-md .navbar-nav .nav-link:first-child {
  padding-left : 0;
}

.logo_container {
  max-width : 155px;
  .logo {
    width : 140px;
    position: relative;
    left: -10px;
  }

}


header {
  margin-bottom: 3em;
  h1 {
    font-size: 2.7rem;
    margin-bottom: 0;
    letter-spacing: -1.5px;
    line-height: 1;
    margin-top: 1em;
    text-transform: none;
    white-space: nowrap;
    font-weight: 400;
    text-transform: uppercase;

    a.router-link-active {
      color : inherit;
    }
  }
  input::-webkit-input-placeholder {
    color : white;
  }
  input {
    font-size: 0.8em;
    margin-top: 3px;

    background-color: transparent;
    border: 1px solid white;
    // border-left: 1px solid white;
    // border-bottom: 1px solid white;
    color: white;

    text-align: center;
    padding-left : 4px;
    padding-bottom : 2px;
    padding-top : 0;
    height : 15px;
    vertical-align: bottom;
    line-height: 0.8;

    
  }
  form {
    margin-left: 0.4em;

  }
  .navbar-nav .nav-item {
    text-transform: uppercase;
    font-size: 0.8em;
    &:first-child {
      padding-left: 0;
      white-space: nowrap;
    }


    
  }
}
.list-inline {
  li {
    display : inline-block;
  }
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 40px;
  .nav-item:first-child {
    padding-left: 0;
  }
  .navbar {
    border-top: 1px solid white;
    margin: 0 auto;
  }
}

// .mainmenu {
//   margin-left : 0;
//   padding-left : 0;
//   li {
//     display : inline-block;
//     margin-right: 1em;
//     &:first-child {
//     }
//   }
// }
.nuxt-link-active .nuxt-link-exact-active {
  color : darkgrey !important;
}

blockquote {
  margin: 1em 3em 1em 3em;
  font-size: 0.8em;
}



@media only screen and (max-width: 576px) {
  header {
    h1 {
      
      font-size : 140%;
    }
    
    nav {
      margin-top: 1em;
    }
    form {
      margin-left: 0;
    }
    .search {
      input {
        // outline: 1px solid lightgrey;
      }
    }
    
    // max-width : 145px;
    .logo {
      // width : 120px;
    }

  }
  .footer {
    line-height : 1;
  }

}



